:root {
	--green: #096832;
	--white: #f7f3e0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	color: var(--green);
	font-family: 'Montserrat';
	background: var(--white);
	max-width: 100vw;
	/* overflow-x: hidden; */
	scroll-behavior: smooth;
}
body {
	background-image: url('./assets//pattern.svg');
}
body:has(.video),
html:has(.video)
/* body:has(.show-menu),
html:has(.show-menu) */ {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
div,
nav,
main,
section,
footer,
header {
	display: flex;
	flex-direction: column;
}
header {
	/* position: fixed; */
	position: sticky;
	max-width: 100vw;
	transition: 0.3s;
	overflow: hidden;
	top: 0;
	background-color: var(--white);
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 24px;
	z-index: 1;
}
.header-hide {
	transform: translateY(-100%);
}
/* header:has(.show-menu) {
	position: static;
} */
iframe {
	border-radius: 6px;
	width: 100%;
	aspect-ratio: 16/9;
}

h1 {
	font-weight: 600;
	font-size: 44px;
}
h2 {
	font-size: 38px;
}
@media (width > 768px) {
	h2 {
		font-size: 48px;
	}
}
